:root { 
--gray_600_cc:#6c757dcc; 
--red_A400_7f:#ed213a7f; 
--red_800:#c82625; 
--white_A700_90:#ffffff90; 
--black_900_90:#00000090; 
--red_700_e5:#ed1c24e5; 
--gray_600_59:#6c757d59; 
--red_800_b5:#c82625b5; 
--black_900_01:#000000; 
--black_900:#000814; 
--blue_gray_100_7f:#d9d9d97f; 
--teal_700:#138564; 
--white_A700_59:#ffffff59; 
--red_800_75:#c8262575; 
--red_A400:#ed213a; 
--white_A700_19:#ffffff19; 
--red_800_59:#c8262559; 
--purple_400:#9d4edd; 
--gray_600:#6c757d; 
--amber_900:#f86f03; 
--gray_400:#bdbdbd; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a6a6a6; 
--blue_700:#0575e6; 
--blue_gray_100_99:#d9d9d999; 
--gray_900:#011627; 
--gray_900_01:#132a13; 
--blue_gray_100_59:#d9d9d959; 
--orange_600:#ff8500; 
--red_A400_19:#ed213a19; 
--gray_100:#f2f2f2; 
--red_800_dd:#c82625dd; 
--gray_100_02:#f7f7f7; 
--white_A700_00:#ffffff00; 
--blue_gray_100_e5:#d9d9d9e5; 
--gray_100_01:#f5f4f6; 
--blue_gray_100_a5:#d9d9d9a5; 
--white_A700:#ffffff; 
--gray_600_3f:#6c757d3f; 
--indigo_500:#3f37c9; 
}